<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mgradnja">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ObavijestiKorisnik"/>
        <activity android:name=".Izvodjac.NovaPorukaIzvodjac" />
        <activity android:name=".Izvodjac.EditProfilaIzvodjacaActivity" />
        <activity android:name=".Izvodjac.ProfilIzvodjacaActivity" />
        <activity android:name=".Izvodjac.IzvodjacKalendarActivity" />
        <activity android:name=".Izvodjac.UpdateOfferActivity" />
        <activity android:name=".Izvodjac.OfferListAcitivityIzvodjac" />
        <activity android:name=".Izvodjac.OfferActivity" />
        <activity android:name=".Izvodjac.JobListActivityIzvodjac" />
        <activity android:name=".Izvodjac.ObavjestiIzvodjac" />
        <activity
            android:name=".IzvodjacInfoActivity"
            android:label="@string/title_activity_izvodjac_info" />
        <activity android:name=".IstraziIzvodjaceActivity" />
        <activity android:name=".OfferListActivity" />
        <activity android:name=".EditProfilKorisnikActivity" />
        <activity android:name=".ProfilKorisnikActivity" />
        <activity android:name=".JobListActivity" />
        <activity android:name=".UserSearchActivity" />
        <activity android:name=".Registration_performer" />
        <activity android:name=".Registration_user" />
        <activity android:name=".GlavniIzbornikKorisnik" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".QueryActivity" />
        <activity android:name=".Izvodjac.GlavniIzbornikIzvodjac" />
        <activity android:name=".Izvodjac.DetaljiUpita" />
        <activity android:name=".Izvodjac.IstraziUpiteIzvodjac" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>